@import "tailwindcss";

@theme {
    --color-dark: #000000;
    --color-light: #e0e0e0;
    --color-stroke: #262626;
    --color-accent: #6dff1e;
    --breakpoint-3xl: 124rem;
}

@font-face {
    font-family: "Funnel Display";
    src: url("../fonts/funnel_display-vf.woff2") format("woff2");
}

@font-face {
    font-family: "Jetbrains Mono";
    src: url("../fonts/jetbrains_mono-vf.woff2") format("woff2");
}

@layer base {
    body {
        font-family: "Funnel Display", sans-serif;
        background-color: var(--color-dark);
        color: var(--color-light);
        font-weight: 300;
        line-height: 1.3;
        letter-spacing: -0.02rem;
        background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
        @apply text-base uppercase;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        letter-spacing: normal;
        line-height: 0.8;
        @apply m-0;
    }

    p,
    a {
        font-family: "Jetbrains Mono", monospace;
    }

    h1,
    .h1 {
        @apply uppercase text-[3.35rem] sm:text-[6.35rem] lg:text-[8.35rem] xl:text-[9.35rem];
    }

    .link {
        @apply relative cursor-none hover:text-accent transition-colors duration-500;
    }

    .link::after {
        content: "";
        @apply absolute bottom-0 left-0 w-full max-w-0 h-px bg-accent transition-all duration-500;
    }

    .link:hover::after {
        @apply max-w-full;
    }

    .button {
        font-family: "Jetbrains Mono", monospace;
        @apply uppercase text-base cursor-pointer select-none px-1.5 bg-accent text-dark hover:bg-light transition-colors duration-0;
    }

    *:focus-visible {
        @apply outline-2 outline-accent outline-offset-4;
    }
}

@layer components {
    .square-corner::after {
        content: "";
        @apply absolute top-0 left-0 w-2 h-2 bg-light border-none;
    }

    .square-corner::before {
        content: "";
        @apply absolute top-0 right-0 w-2 h-2 bg-light border-none;
    }

    .item {
        font-family: "Jetbrains Mono", monospace;
    }

    .draggable {
        clip-path: inset(0 0 100% 0);
    }

    .tick {
        animation: blink 1s steps(1) infinite;
    }

    @keyframes blink {
        0%,
        100% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
    }

    #projects {
        clip-path: inset(0 50% 0 50%);
        @apply w-[95vw] sm:w-[85vw] h-auto fixed top-1/2 left-1/2 z-9998 -translate-x-1/2 -translate-y-1/2 backdrop-blur-xl flex flex-row gap-0 flex-nowrap;
    }

    .mobile {
        background-color: #000000;
        background-image: url("data:image/svg+xml,%3Csvg%20width%3D%22100%25%22%20height%3D%22100%25%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3Cpattern%20id%3D%22grid%22%20width%3D%22100%22%20height%3D%22100%22%20patternUnits%3D%22userSpaceOnUse%22%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%22100%22%20height%3D%22100%22%20fill%3D%22none%22%20stroke%3D%22%23262626%22%20stroke-width%3D%221%22%2F%3E%3C%2Fpattern%3E%3C%2Fdefs%3E%3Crect%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22url(%23grid)%22%20%2F%3E%3C%2Fsvg%3E");
    }
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
